header {
  nav.navbar-black {
    background: @gray-darker;
    height: 50px;
    ul.pages-list {
      float: left;
      li {
        float: left;
        &:first-child a {
          padding-left: 0;
        }
      }
    }
    ul.social-media {
      float: right;
      li {
        float: left;
      }
      &:last-child a {
        padding-right: 0;
      }
    }
    ul {
      margin: 0;
      padding: 0;

      a {
        padding: 0 15px;
        line-height: 50px;
        color: #fff;
      }
    }

  }
  nav.navbar {
    text-align: left;
    // position: fixed;
    margin: 0 auto;
    padding: 30px 15px;
    left: 0;
    right: 0;
    z-index: 100;
    background: #fff;
    .transition();
    @media screen and (min-width: @screen-md) {
      padding-top: 48px;
      padding-bottom: 48px;
    }

    &.smaller {
      background: #fff;
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px @gray solid;
    }

    .fa-bars {
      float: right;
      line-height: 28px;
      @media screen and (min-width: @screen-md) {
        display: none;
      }
    }

    .logo-box {
      text-align: center;
      padding-bottom: 30px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      text-transform: uppercase;
      display: none;
      @media screen and (min-width: @screen-md) {
        display: flex;
        justify-content: space-between;
        clear: none;
      }
      li {
        // display: block;
      
        &:first-child {
         
        }
        @media screen and (min-width: @screen-md) {
          
          display: flex;
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
          }
        }
        a {
          text-decoration: none;
          color: #000;
          padding-bottom: 5px;

          &:hover {
            border-bottom: 4px solid @brand-primary;
          }
        }
      }

    }
  }

  .swiper-container {
    height: 60vh;
    align-items: center;

    .swiper-slide {
      .backgroundImage();
      display: flex;

      .heading-box{
        align-self: flex-end;
        justify-content: flex-end;
        display: flex;
        flex-basis: 50%;
        max-width: 50%;
        background: #fff;
      }

      .heading {
        width: 38rem;
        padding-right: 15px;
      }
    }
  }
}



.home {
  #latest-stories {

  }
  #in-pictures {

  }
  #economy {

  }
  #health {

  }
}

footer {
  background: #000;
  color: #fff;
  padding: 36px 0;

  .icon-box {
    text-align: center;
    @media screen and (min-width: @screen-sm) {
      text-align: left;
    }
  }

  .fa {
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 0 3px;
    width: 36px;
    height: 36px;
    text-align: center;
    .transition();
    &:hover {
      color: #000;
      background: #fff;
      }
    &.fa-long-arrow-up {
      background: #fff;
      color: #000;
      border: 0;
    }
  }

  .copy-rights {
    text-align: center;
    @media screen and (min-width: @screen-sm) {
      text-align: right;
    }
    @media screen and (min-width: @screen-md) {
      text-align: center;
    }
    p {
      margin: 5px 0;
    }
  }

  .scroll-top-btn {
    display: none;
    @media screen and (min-width: @screen-md) {
      display: block;
      position: absolute;
      right: 0;
      margin-right: 15px;
    }

  }
}
