.home {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  margin: 0;
}
.navbar-black {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.navbar {
  text-transform: uppercase;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
}
h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  border-bottom: 4px solid #29abe2;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 1em 0 0.5em;
  line-height: 1.2em;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 9px;
}
p {
  font-size: 16px;
  color: #333;
}
.description {
  font-size: 18px;
  color: #4d4d4d;
}
.author,
.date,
.comments {
  font-size: 14px;
  font-weight: 100;
}
.btn {
  font-size: 14px;
  padding: 12px 20px;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 16px;
    padding: 15px 41px;
  }
}
.btn:hover,
.btn:focus {
  color: #fff;
  background: #333333;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #4d4d4d;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
nav.navbar-black {
  background: #333;
}
@media screen and (max-width: 780px) {
  nav.navbar-black {
    display: none;
  }
}
nav.navbar-black ul {
  margin: 0;
  padding: 0;
}
nav.navbar-black ul a {
  padding: 0 15px;
  line-height: 50px;
  color: #fff;
  display: block;
}
nav.navbar-black ul.pages-list {
  float: left;
}
nav.navbar-black ul.pages-list li {
  float: left;
}
nav.navbar-black ul.pages-list li:first-child a {
  padding-left: 0;
}
nav.navbar-black ul.social-media {
  float: right;
}
nav.navbar-black ul.social-media li {
  float: left;
}
nav.navbar-black ul.social-media:last-child a {
  padding-right: 0;
}
.navbar {
  background: pink;
  position: fixed;
  width: 100%;
}
.navbar .level2-list {
  background: yellow;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.navbar .level3-list {
  background: red;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.home #latest-stories {
  padding: 72px 0 43px;
}
.home #latest-stories .img-box {
  margin-top: 2.2rem;
}
.home #in-pictures {
  padding: 42px 0 74px;
  background: #f2f2f2;
}
.home #in-pictures h2 {
  margin-top: 0;
  text-align: center;
}
.home #in-pictures h2::after {
  display: none;
}
.home #in-pictures .img-box {
  margin-top: 0.8em;
  position: relative;
}
.home #in-pictures .img-box::after {
  content: "";
  position: absolute;
  background: url("../img/photoIcon.png");
  width: 44px;
  height: 34px;
  top: calc(50% - 17px);
  left: calc(50% - 22px);
}
.home #economy-and-health {
  padding: 36px 0;
}
.home #economy-and-health #economy .img-box {
  margin-top: 2em;
}
.home #economy-and-health #health .health-articles {
  margin-top: 15px;
}
.home #economy-and-health #health .health-articles p {
  line-height: 1.3em;
}
footer {
  padding: 88px 0 0 0;
  border-top: 1px solid #ccc;
}
footer img {
  display: block;
  margin: 0 auto 50px;
}
footer nav {
  font-size: 12px;
  background: #333;
}
footer nav ul {
  margin: 0;
  padding: 0;
}
footer nav ul a {
  color: #fff;
  float: none;
  display: block;
  padding: 0 15px;
  line-height: 30px;
  text-align: center;
}
@media screen and (min-width: 560px) {
  footer nav ul a {
    float: left;
    line-height: 86px;
  }
}
footer nav p {
  padding: 0 15px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: 50px 0 0;
}
@media screen and (min-width: 560px) {
  footer nav p {
    line-height: 86px;
    margin: 0;
    text-align: left;
  }
}
footer nav p a {
  text-align: right;
  color: #29abe2;
}
