.home {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  margin: 0;
}
.navbar-black {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.navbar {
  text-transform: uppercase;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
}
h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70px;
  border-bottom: 4px solid #29abe2;
}
h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 1em 0 0.5em;
  line-height: 1.2em;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 9px;
}
p {
  font-size: 16px;
  color: #333;
}
.description {
  font-size: 18px;
  color: #4d4d4d;
}
.author,
.date,
.comments {
  font-size: 14px;
  font-weight: 100;
}
.btn {
  font-size: 14px;
  padding: 12px 20px;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
@media screen and (min-width: 62em) {
  .btn {
    font-size: 16px;
    padding: 15px 41px;
  }
}
.btn:hover,
.btn:focus {
  color: #fff;
  background: #333333;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: #4d4d4d;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
a:hover {
  color: #676767;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.info-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
.info-box a:hover {
  color: #29abe2;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
nav.navbar-black {
  background: #333;
}
@media screen and (max-width: 761px) {
  nav.navbar-black {
    display: none;
  }
}
nav.navbar-black ul {
  margin: 0;
  padding: 0;
}
nav.navbar-black ul a {
  padding: 0 15px;
  line-height: 50px;
  color: #fff;
  display: block;
}
nav.navbar-black ul a:hover {
  color: #cccccc;
}
nav.navbar-black ul.pages-list {
  float: left;
}
nav.navbar-black ul.pages-list li {
  float: left;
}
nav.navbar-black ul.pages-list li:first-child a {
  padding-left: 0;
}
nav.navbar-black ul.social-media {
  float: right;
}
nav.navbar-black ul.social-media li {
  float: left;
}
nav.navbar-black ul.social-media:last-child a {
  padding-right: 0;
}
.navbar {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 2px solid #ccc;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
@media screen and (max-width: 761px) {
  .navbar {
    top: 0;
  }
}
.navbar.smaller {
  top: 0;
}
.navbar.smaller .logo-box {
  margin: 23px 0;
}
.navbar.smaller .logo-box img {
  width: 10em;
}
.navbar .logo-box {
  text-align: left;
  display: inline-block;
  margin: 23px 0;
}
@media screen and (min-width: 762px) {
  .navbar .logo-box {
    text-align: center;
    margin: 52px 0;
    display: block;
  }
}
.navbar .logo-box img {
  width: 10em;
}
@media screen and (min-width: 762px) {
  .navbar .logo-box img {
    width: 13em;
  }
}
.navbar .fa.fa-bars {
  display: inline-block;
  float: right;
  line-height: 34px;
  margin: 20px 0;
}
@media screen and (min-width: 762px) {
  .navbar .fa.fa-bars {
    display: none;
  }
}
.navbar .level1-ul,
.navbar .level2-ul,
.navbar .level3-ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.navbar .level1-ul {
  display: none;
  margin-bottom: 3px;
}
@media screen and (min-width: 762px) {
  .navbar .level1-ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.navbar .level1-ul a {
  -webkit-transition: color 300ms ease-in;
  transition: color 300ms ease-in;
}
@media screen and (max-width: 761px) {
  .navbar .level1-ul a {
    line-height: 50px;
  }
}
.navbar .level1-ul a:hover,
.navbar .level1-ul a:active,
.navbar .level1-ul a:focus {
  border-bottom: 3px solid #29abe2;
  color: #29abe2;
}
.navbar .level1-ul #entertainment > .fa {
  margin-left: 3px;
}
@media screen and (max-width: 761px) {
  .navbar .level1-ul .fa-search {
    display: none;
  }
}
.navbar .level2-list {
  background: #333;
  padding: 50px 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}
.navbar .level2-list a {
  text-transform: none;
  color: #fff;
}
.navbar .level2-list a:hover,
.navbar .level2-list a:active,
.navbar .level2-list a:focus {
  border-bottom: none;
}
.navbar .level2-list a.active {
  color: #29abe2;
}
.navbar .level3-list {
  background: #333;
  color: #fff;
  position: absolute;
  top: 98%;
  left: 0;
  width: 100%;
}
.navbar .level3-list #video-gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.navbar .level3-list #video-gallery a {
  margin: 0 25px;
  display: block;
  position: relative;
}
.navbar .level3-list #video-gallery a:first-child {
  margin-left: 0;
}
.navbar .level3-list #video-gallery a:last-child {
  margin-right: 0;
}
.navbar .level3-list #video-gallery .img-box {
  position: relative;
}
.navbar .level3-list #video-gallery .img-box::after {
  content: "";
  position: absolute;
  background: url("../img/playIcon.png") no-repeat;
  width: 58px;
  height: 58px;
  top: calc(50% - 29px);
  left: calc(50% - 29px);
}
.navbar .level3-list #video-gallery .img-box::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #bfbfbf;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #bfbfbf), color-stop(52%, rgba(121, 121, 121, 0.69)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  background: -webkit-linear-gradient(-45deg, #bfbfbf 0%, rgba(121, 121, 121, 0.69) 52%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-linear-gradient(315deg, #bfbfbf 0%, rgba(121, 121, 121, 0.69) 52%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(135deg, #bfbfbf 0%, rgba(121, 121, 121, 0.69) 52%, rgba(0, 0, 0, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfbfbf', endColorstr='#000000', GradientType=1);
}
.navbar .level3-list #video-gallery h3 {
  color: #fff;
  margin-bottom: 43px;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
.navbar .level3-list #video-gallery h3:hover {
  color: #29abe2;
}
.swiper-container {
  display: none;
}
@media screen and (min-width: 762px) {
  .swiper-container {
    display: block;
    height: 448px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 162px;
  }
}
@media screen and (min-width: 1055px) {
  .swiper-container {
    height: 511px;
  }
}
.swiper-container .swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.swiper-container .swiper-slide .heading-box {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 50%;
  background: #fff;
}
.swiper-container .swiper-slide .heading {
  width: 38rem;
  padding-right: 8px;
  padding-left: 6rem;
}
#latest-stories {
  padding: 72px 0 43px;
}
#latest-stories .img-box {
  margin-top: 2.2rem;
  overflow: hidden;
}
#latest-stories .img-box img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#latest-stories .img-box img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
#in-pictures {
  padding: 42px 0 74px;
  background: #f2f2f2;
}
#in-pictures h2 {
  margin-top: 0;
  text-align: center;
}
#in-pictures h2::after {
  display: none;
}
#in-pictures .img-box {
  margin-top: 0.8em;
  position: relative;
  overflow: hidden;
}
#in-pictures .img-box::after {
  content: "";
  position: absolute;
  background: url("../img/photoIcon.png");
  width: 44px;
  height: 34px;
  top: calc(50% - 17px);
  left: calc(50% - 22px);
}
#in-pictures .img-box img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
          animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
#economy-and-health {
  padding: 36px 0;
}
#economy-and-health #economy .img-box {
  margin-top: 2em;
  overflow: hidden;
}
#economy-and-health #economy .img-box img {
  -webkit-transform: rotate(0) scale(1);
      -ms-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
#economy-and-health #economy .img-box img:hover {
  -webkit-transform: rotate(15deg) scale(1.3);
      -ms-transform: rotate(15deg) scale(1.3);
          transform: rotate(15deg) scale(1.3);
}
#economy-and-health #health .health-articles {
  margin-top: 15px;
}
#economy-and-health #health .health-articles p {
  line-height: 1.3em;
}
footer {
  padding: 88px 0 0 0;
  border-top: 1px solid #ccc;
}
footer img {
  display: block;
  margin: 0 auto 50px;
}
footer nav {
  font-size: 12px;
  background: #333;
}
footer nav ul {
  margin: 0;
  padding: 0;
}
footer nav ul a {
  color: #fff;
  float: none;
  display: block;
  padding: 0 15px;
  line-height: 30px;
  text-align: center;
}
@media screen and (min-width: 560px) {
  footer nav ul a {
    float: left;
    line-height: 86px;
  }
}
footer nav ul a:hover {
  color: #cccccc;
}
footer nav p {
  padding: 0 15px;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin: 50px 0 0;
}
@media screen and (min-width: 560px) {
  footer nav p {
    line-height: 86px;
    margin: 0;
    text-align: left;
  }
}
footer nav p a {
  text-align: right;
  color: #29abe2;
}
footer nav p a:hover {
  color: #6cc5eb;
}
