body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
}
.navbar-black {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
}
.navbar {
  text-transform: uppercase;
}
h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
h3 {
  font-size: 18px;
  font-weight: 700;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 9px;
}
p {
  font-size: 16px;
  color: #333;
}
.description {
  font-size: 18px;
  color: #4d4d4d;
}
.author,
.date,
.comments {
  font-size: 14px;
  font-weight: 100;
}
section {
  padding: 50px 0;
}
.btn {
  font-size: 14px;
  padding: 12px 20px;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 16px;
    padding: 15px 41px;
  }
}
.btn:hover,
.btn:focus {
  color: #fff;
  background: #333333;
  text-decoration: none;
}
ul {
  list-style: none;
}
a {
  color: #4d4d4d;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
header nav.navbar-black {
  background: #333;
  height: 50px;
}
header nav.navbar-black ul.pages-list {
  float: left;
}
header nav.navbar-black ul.pages-list li {
  float: left;
}
header nav.navbar-black ul.pages-list li:first-child a {
  padding-left: 0;
}
header nav.navbar-black ul.social-media {
  float: right;
}
header nav.navbar-black ul.social-media li {
  float: left;
}
header nav.navbar-black ul.social-media:last-child a {
  padding-right: 0;
}
header nav.navbar-black a {
  padding: 0 15px;
  line-height: 50px;
  color: #fff;
}
header nav.navbar {
  text-align: left;
  margin: 0 auto;
  padding: 30px 15px;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
@media screen and (min-width: 992px) {
  header nav.navbar {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: calc((100% - 970px)/2);
    padding-right: calc((100% - 970px)/2);
  }
}
@media screen and (min-width: 1200px) {
  header nav.navbar {
    padding-left: calc((100% - 1170px)/2);
    padding-right: calc((100% - 1170px)/2);
  }
}
header nav.navbar.smaller {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px #4d4d4d solid;
}
header nav.navbar .fa-bars {
  float: right;
  line-height: 28px;
}
@media screen and (min-width: 992px) {
  header nav.navbar .fa-bars {
    display: none;
  }
}
header nav.navbar .logo-box {
  text-align: center;
  padding-bottom: 30px;
}
header nav.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  display: none;
}
@media screen and (min-width: 992px) {
  header nav.navbar ul {
    display: block;
    clear: none;
  }
}
header nav.navbar ul li {
  display: block;
  padding: 15px 0;
}
header nav.navbar ul li:first-child {
  padding-top: 30px;
}
@media screen and (min-width: 992px) {
  header nav.navbar ul li {
    padding: 0 30px;
    display: inline-block;
  }
  header nav.navbar ul li:first-child {
    padding-top: 0;
    padding-left: 15px;
  }
  header nav.navbar ul li:last-child {
    padding-right: 15px;
  }
}
header nav.navbar ul li a {
  text-decoration: none;
  color: #000;
  padding-bottom: 5px;
}
header nav.navbar ul li a:hover {
  border-bottom: 4px solid #29abe2;
}
header .hero {
  padding-top: 89px;
  text-align: center;
  background: url("../img/hero/hero.png") no-repeat;
  background-position: center 64px;
}
@media screen and (min-width: 768px) {
  header .hero {
    text-align: left;
    position: relative;
    background: #ffffff;
    background: -webkit-gradient(left top, right top, color-stop(0%, #ffffff), color-stop(52%, #f6f6f6), color-stop(52%, #e1e1e1), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(left, #ffffff 0%, #f6f6f6 52%, #e1e1e1 52%, #e1e1e1 100%);
    background: linear-gradient(to right, #ffffff 0%, #f6f6f6 52%, #e1e1e1 52%, #e1e1e1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e1e1', GradientType=1);
  }
}
@media screen and (min-width: 992px) {
  header .hero {
    padding-top: 43px;
  }
}
header .hero .hero-text {
  margin: 140px 0 ;
  z-index: 99;
}
@media screen and (min-width: 992px) {
  header .hero .hero-text {
    margin: 260px 0 140px;
  }
}
header .hero .hero-text .btn-first {
  margin-right: 8px;
}
header .hero .hero-text .btn-invert {
  margin-left: 8px;
}
header .hero .hero-img,
header .hero img {
  display: none;
}
@media screen and (min-width: 768px) {
  header .hero .hero-img,
  header .hero img {
    display: block;
    z-index: 99;
  }
}
footer {
  background: #000;
  color: #fff;
  padding: 36px 0;
}
footer .icon-box {
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .icon-box {
    text-align: left;
  }
}
footer .fa {
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 3px;
  width: 36px;
  height: 36px;
  text-align: center;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}
footer .fa:hover {
  color: #000;
  background: #fff;
}
footer .fa.fa-long-arrow-up {
  background: #fff;
  color: #000;
  border: 0;
}
footer .copy-rights {
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer .copy-rights {
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  footer .copy-rights {
    text-align: center;
  }
}
footer .copy-rights p {
  margin: 5px 0;
}
footer .scroll-top-btn {
  display: none;
}
@media screen and (min-width: 992px) {
  footer .scroll-top-btn {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 500px;
  height: 300px;
  margin: 20px auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
